<%= render :partial=> "menu" %>

<h1>Event Members</h1>
<%= render :partial=> "/model_filter/filter" %>
<br>
<table class='paginator'>
    <tr>
        <td align='left'>
            <%= will_paginate(@event_members) %>
        </td>
        <td align='right'>
            <%= page_entries_info(@event_members) %>
        </td>
    </tr>
</table>
<table class='results'>
    <tbody>
        <tr>
            <th>
                Event Name
            </th>
            <th>
                Member Name
            </th>
        </tr>
        <% @event_members.each_with_index do |em, index| %>
        <% row_class = (index % 2 == 0) ? "row_even" : "row_odd" %>
        <tr class='<%=row_class%>'>
            <td>
                <%= em.event.name %>
            </td>
            <td>
                <%= em.profile.name %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
