<%= will_filter(@users) %>

<br>
<table class='paginator'>
    <tr>
        <td align='left'>
            <%= will_paginate(@users) %>
        </td>
        <td align='right'>
            <%= page_entries_info(@users) %>
        </td>
    </tr>
</table>
<table class='results'>
    <tbody>
        <tr>
            <th>
                Id
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Sex
            </th>
            <th>
                Birthday
            </th>
        </tr>
        <% @users.each_with_index do |p, index| %>
        <% row_class = (index % 2 == 0) ? "row_even" : "row_odd" %>
        <tr class='<%=row_class%>'>
            <td>
                <%= p.id %>
            </td>
            <td>
                <%= p.first_name %>
            </td>
            <td>
                <%= p.last_name %>
            </td>
            <td>
                <%= p.sex %>
            </td>
            <td>
                <%= p.birthday.strftime("%m/%d/%Y") %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
